input, select, textarea{
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);
    padding: .75rem 1rem;
    font: var(--text);
}

input:focus, select:focus, textarea:focus{
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
}

label{
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block;
    margin-bottom: 0.25rem;
}

input[type="date"]{
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}

input[type="date"]::before{
    content: "";
    position: absolute;
    background: url(../../assets/icons/calendar-03.svg);
    background-position: center;
    background-size: contain;
    right: 1rem;
    height: 1.25rem;
    width: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
}

select{
    background: url(../../assets/icons/arrow-down-01.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
}


